<div class="container">

  <h1>Le Blog en Hypnose</h1><br>
  <div class="roundimage">
    <img class="img-hypnose" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674609055/computer-4484282_1920_cqz6y8.jpg"  alt=" Blog Hypnose Articles">
  </div>
  <section class="space">
  </section>
  <p>Retrouvez dans ce blog des articles dédiés sur des thématiques diverses que j'aborde également</p>
  <p>Vous pouvez clicker sur les liens ci-dessous:</p>

  <section class="space">
  </section>

  <div class="cards">
    <div class="card-category">
      <a href="/acrophobie">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1114,w_2000/v1674655158/Hypnose_et_Acrophobie_vw94jb.png" alt=" Hypnose Articles Acrophobie"></a>
        <div class="cardshome_infos">
          <%= link_to "Acrophobie", acrophobie_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/reves">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1114,w_2000/v1674655286/Hypnose_Ericksonienne_Les_R%C3%AAves_Lucides_zxs3g5.jpg" alt="Les Rêves Lucides"></a>
        <div class="cardshome_infos">
          <%= link_to "Les Rêves Lucides", reves_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/douleur">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1114,w_2000/v1674655621/L_Hypnose_et_la_Douleur_ncynwp.jpg" alt="La douleur"></a>
        <div class="cardshome_infos">
          <%= link_to "La Douleur et l'Hypnose", douleur_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/sommeil">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1114,w_2000/v1674655889/Hypnose_et_le_Sommeil_hnpg7p.png" alt="Sommeil et Insomnies"></a>
        <div class="cardshome_infos">
          <%= link_to "Sommeil et Insomnies", sommeil_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/addiction">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1114,w_2000/v1674656122/Les_Addictions_dbt6pw.png" alt="Les Addictions"></a>
        <div class="cardshome_infos">
          <%= link_to "Les Addictions", addiction_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/enfant">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1114,w_2000/v1674656331/L_Hypnose_Ericksonienne_avec_les_enfants_hzflrp.png" alt="Hypnose et Enfants"></a>
        <div class="cardshome_infos">
          <%= link_to "Les enfants", enfant_path %>
        </div>
    </div>
  </div>
    <section class="space">
    </section>

    <section class="space">
    </section>

    <div class="retour">
        <a href="/" class="btn btn-primary btn-lg">Retour</a>
    </div>

    <section class="space">
    </section>

</div>
