<body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/df1pesufu/image/upload/v1672446744/Boussole_Background_akivcu.jpg);">
      <div class="header">
        <h1><strong>Yann    Lecocq</strong></h1>
          <strong><h2>Hypnose Ericksonienne</h2></strong>

      </div>
    </div>
</body>
        <p><strong>"La Lumière que vous cherchez a toujours été en vous"</strong></p>

<div class="container">
  <div class="cards">
    <div class="card-category">
      <a href="/biographie">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,w_1300/v1672310486/_DSC3925m_ndyagh.jpg" alt="Qui suis-je?"></a>
        <div class="cardshome_infos">
          <%= link_to "Qui suis-je?", biographie_path %>
        </div>
      </a>
  </div>

  <div class="card-category">
    <a href="/hypnose">
      <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1334,w_2000/v1672308920/234044578_140391801515218_434573821509986691_n_y6mkhy.jpg" alt="Hypnose"></a>
      <div class="cardshome_infos">
        <%= link_to "Hypnose", hypnose_path %>
      </div>
    </a>
  </div>

  <div class="card-category">
    <a href="/tarif">
      <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1334,w_2000/v1672494893/Izen_hyhvkp.jpg"a alt="tarif?"></a>
      <div class="cardshome_infos">
        <%= link_to "Tarifs", tarif_path %>
      </div>
    </a>
  </div>
</div>

<section class="space">
</section>

<div class="container">
  <footer>
    <%# <!-- Grid container --> %>
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="foot">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h3><strong>Pour prendre RDV</strong></h3>
                <ul class="liste-contact">
                  <li class="about"><%= image_tag "svg/iconeprofile.png"%>Yann Lecocq</li>
                  <li class="about"><%= image_tag "svg/gpsicone.png"%>62 Bd Jean Ingres 44000 Nantes</li>
                  <li class="about"><%= image_tag "svg/mobileicone.png"%></i>06.09.82.16.04</li>
                  <li class="abouts"><%= image_tag "svg/mailicone.png"%>yannlecocqhypnose44@hotmail.com</li>
                </ul>
          </div>

          <hr class="w-100 clearfix d-md-none" />

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h3><strong>Les Cabinets</strong></h3>
                <ul class="liste-about">
                  <li><a class="list_about" href="https://chezjoia.fr/">Cabinet Joïa</a></li>
                  <li><a class="list_about" href="https://www.espace-flesselles.com/">Espace Flesselles</a></li>
                  <li><a class="list_about" href="https://www.facebook.com/Lammazenie/">Lammazenie</a></li>
                </ul>
          </div>

          <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h3><strong>Les Horaires</strong></h3>
                <ul class="liste-horaires">
                  <li>Lundi 9H00-20H00</li>
                  <li>Mardi 9H00-20H00</li>
                  <li>Mecredi 9H00-20H00</li>
                  <li>Jeudi 9H00-20H00</li>
                  <li>Vendredi 9H00-20H00</li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h3><strong>Pour me suivre</strong></h3>


                <a class="btn btn-primary btn-floating m-1" style="background-color: #FA0"
                href="https://www.instagram.com/yannlecocqhypnose44/" role="button"><i class="fab fa-instagram"></i>
                </a>

                <a class="btn btn-primary btn-floating m-1"style="background-color: #FA0"
                href="https://www.facebook.com/YannLecocqhypnose44" role="button"><i class="fab fa-facebook-f"></i>
                </a>

                <a class="btn btn-primary btn-floating m-1" style="background-color: #FA0"
                href="https://github.com/Mandza177"><i class="fab fa-github" role="button" ></i>
                </a>

                <a class="btn btn-primary btn-floating m-1" style="background-color: #fA0"
                href="https://www.linkedin.com/in/yann-lecocq-dev-fullstack/" role="button"><i class="fa-brands fa-linkedin"></i>
                </a>

                <a class="btn btn-primary btn-floating m-1" style="background-color: #FA0"
                href="https://www.youtube.com/channel/UCN5KM6QS0w8BQpudeJYpn2A"role="button"><i class="fa-brands fa-square-youtube"></i>
                </a>


            </div>
        </div>
      </section>
    </div>
  </footer>
  <div class="mention">
    <a class="list_about"<%= link_to "Mentions légales", mention_path %>
  </div>

  <div class="text-center p-3">

      © 2023 Copyrights: Yann Lecocq
    </div>
</div>
