<div class="container">

  <h1>Hypnose</h1><br>
  <div class="roundimage">
    <img class="img-hypnose" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674614477/compass-5137269_1920_qynjz8.jpg"  alt=" Hypnose">
  </div>
  <p>Pour en savoir plus sur les thématiques sur lesqelles j'interviens et sur l'Hypnose Ericksonienne</p>
  <p>Vous pouvez clicker sur les liens ci-dessous:</p>

  <div class="cards">
    <div class="card-category">
      <a href="/seance">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674611984/IMG_20220310_185427_o5bavr.jpg" alt="Déroulement d'une séance d'Hypnose"></a>
        <div class="cardshome_infos">
          <%= link_to "Une séance d'Hypnose", seance_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/hypnoseutile">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674612311/question-mark-1872665_1920_xzu4c7.jpg" alt="En quoi l'Hypnose est utile?"></a>
        <div class="cardshome_infos">
          <%= link_to "En quoi l'Hypnose est utile?", hypnoseutile_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/estimeconfianceensoi">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674143386/Estime_et_Confiance_en_Soi0_qxonjw.png" alt="Estime et Confiance en Soi"></a>
        <div class="cardshome_infos">
          <%= link_to "Estime et Confiance en Soi", estimeconfianceensoi_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/stress">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674231174/stress-gfb596137c_1920_csyzxt.jpg" alt="Le Stress et l'Anxiété"></a>
        <div class="cardshome_infos">
          <%= link_to "Stress et Anxiété", stress_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/peursphobies">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674589682/Peurs_et_Phobies_pwxpzk.png" alt="Peurs et Phobies"></a>
        <div class="cardshome_infos">
          <%= link_to "Peurs et Phobies", peursphobies_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/arrettabac">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1414,w_2000/v1674591149/Hypnose_Ericksonienne___arr%C3%AAter_de_fumer_d6jcdl.png" alt="Arrêt du Tabac"></a>
        <div class="cardshome_infos">
          <%= link_to "Arrêt du Tabac", arrettabac_path %>
        </div>
    </div>

    <div class="card-category">
      <a href="/hypnoseregressive">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674597568/L_Hypnose_r%C3%A9gressive_ghvsvc.png" alt="Hypnose Régressive"></a>
        <div class="cardshome_infos">
          <%= link_to "Hypnose Régressive", hypnoseregressive_path %>
        </div>
    </div>
  </div>
  <section class="space">
  </section>

  <div class="retour">
      <a href="/" class="btn btn-primary btn-lg">Retour</a>
  </div>

  <section class="space">
  </section>
</div>
