<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "FaviconYannLecocq.png", rel: "icon", type: "image/png" %>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="container-fluid">
          <%= link_to "/", class: "navbar-brand" do %>
            <%= image_tag "svg/icone_homepage.png"%>
          <% end %>
          <a class="btn btn-bg" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu">
            <%= image_tag "svg/icone_menu.png"%>
          </a>
        </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasMenuLabel">Accueil</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="placeholdermenu">
        Yann Lecocq <br>
        Hypnose Ericksonienne à Nantes<br>
        Tél: 06.09.82.16.04 <br>
        <a class="contact" href="mailto:yannlecocqhypnose44@hotmail.com">Pour me contacter</a></li><br>
      </div>

      <div class="bios"><br>
        <a class="dropdown-item" href="/biographie">Qui suis-je?</a>
      </div>

      <div class="tarifs">
        <a class="dropdown-item" href="/tarif">Tarifs</a>
      </div>

      <div class="avis">
        <a class="dropdown-item" href="/avis">Avis clientèle</a><br>
      </div>

      <div class="plandusite">
        <div class="dropdown mt-3">
          <button class="btn btn-bg dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Hypnose
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/seance">Comment se passe une séance?</a></li>
            <li><a class="dropdown-item" href="/hypnoseutile">En quoi l'Hypnose est utile?</a></li>
            <li><a class="dropdown-item" href="/estimeconfianceensoi">Estime et Confiance en Soi</a></li>
            <li><a class="dropdown-item" href="/stress">Le Stress et l'anxiété</a></li>
            <li><a class="dropdown-item" href="/peursphobies">Les Peurs et les Phobies</a></li>
            <li><a class="dropdown-item" href="/arrettabac">Arrêt du Tabac</a></li>
            <li><a class="dropdown-item" href="/hypnoseregressive">L'Hypnose Régressive</a></li>
          </ul>
        </div>
      </div>

      <div class="localisation">
        <div class="dropdown mt-3">
          <button class="btn btn-bg dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Les Cabinets
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://chezjoia.fr/">Chez Joïa</a></li>
            <li><a class="dropdown-item" href="https://www.espace-flesselles.com/">Espace Flesselles</a></li>
            <li><a class="dropdown-item" href="https://www.facebook.com/Lammazenie/">Lammazenie</a></li>
          </ul>
        </div>
      </div>

      <div class="mediasocial">

        <div class="dropdown mt-3">
          <button class="btn btn-bg dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Pour me suivre
          </button>
          <ul class="dropdown-menu">
            <li class="list-media"><a class="dropdown-item" href="https://www.instagram.com/yannlecocqhypnose44/">Instagram</a></li>
            <li class="list-media"><a class="dropdown-item" href="https://www.facebook.com/YannLecocqhypnose44">Facebook</a></li>
            <li class="list-media"><a class="dropdown-item" href="https://www.youtube.com/channel/UCN5KM6QS0w8BQpudeJYpn2A">Youtube</a></li>
          </ul>
        </div>





        </div>
      </div>



      </div>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
